.likedSection {
  padding: 20px;
  text-align: left;
  border: 0.75px solid lightgray;
  background-color: #efefef;
}

.vh {
  min-height: 100vh;
}

.sectionTitle {
  margin: 15px 15px;
}

@media screen and (max-width: 481px) {
  .columnDisplay {
    width: 100%;
    /* flex-wrap: wrap; */
  }
  .sectionTitle {
    font-size: 20px;
  }
}
