.currentGifDisplay {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.currentGifSection {
  border: 1px solid lightgray;
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  flex: 1;
}