.orderedList {
  text-align: left;
}

.listItem{
  margin-bottom: 10px;
  line-height: 1.5;
}

.searchSection {
  padding: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.formDisplay {
  text-align: left;
  margin-top: 60px;
}

.searchDiv {
  margin-left: 15px;
}

.formElement {
  border: .5px solid gray;
  font-size: 16px;
  padding: 8px 15px;
}

.searchLabel {
  display: block;
  font-size: 14px;
  margin: 5px 15px;
}

@media screen and (max-width: 481px) {
  .formElement {
    border: .5px solid gray;
    margin: 0 2px;
}
}