ol {
  text-align: left;
}

li{
  margin-bottom: 10px;
  line-height: 1.5;
}

.searchSection {
  padding: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.formDisplay {
  text-align: left;
  margin-top: 60px;
}

.searchDiv {
  margin-left: 15px;
}

.formElement {
  font-size: 16px;
  padding: 8px 15px;
}

.searchLabel {
  display: block;
  font-size: 14px;
  margin: 5px 15px;
}