.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* FLEXBOX classes */

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

._50 {
  justify-content: center;
  width: 40%;
  margin: 0 0 15px 0;
}
