* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* FLEXBOX classes */

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

._45 {
  justify-content: center;
  width: 45%;
  /* margin: 0 0 15px 0; */
}

.around {
  text-align: center;
  justify-content: space-around;
}

._55 {
  width: 55%;
}

._100 {
  width: 100%;
}

.error {
  color: red;
  font-size: 14px;
}

img{ display: block}